/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
    background: rgb(228, 227, 227);
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
}

.sombra1 {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.75);
}